// Colors
$main-color: #ffffff;
$secondary-color: #585CE9;
$third-color: #6F8BA4;

// Font family
$main-font-family: 'Nunito', sans-serif;

// Box shadow
$main-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);

// Letter spacing
$main-letter-spacing:  1px;