#FAQss{
    background-color: #FFFFFF;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;


    .container{
        max-width: 1040px;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .row{
            min-height: 400px;
            .col-lg-6{

                padding-right: 0;
                padding-left: 0;
                .description{
                    height: 100%;
                    max-width: 100%;
                    margin: 80px 20px;
                    h3{
                        font-size: 28px;
                        color: #585CE9;
                        letter-spacing: 1.88px;
                        margin-bottom: 20px;
                        font-weight: 400;
                    }
                    p{
                        margin-bottom: 29px;
                        line-height: 29px;
                        font-size: 16px;
                        color: #6F8BA4;


                    }
                    button{
                    
                       text-transform: uppercase;
                       width: 150px;
                       margin: auto;
                       display: inline-block;
                       line-height: 27px;
                       text-align: center;
                       border-radius: 5px;
                       border-color: #585CE9;
                       background: #585CE9;
                       font-weight: 700;
                       font-size: 11px;
                       color: #ffffff;
                       letter-spacing: 0.75px;
                 

                        &:hover{
                            background: #4c50ce;
                        }
                    }
                }
                .questions{
                    margin: 0;
                    max-height: 100%;
                    max-width: 100%;
                    margin: 80px 10px;
                    background-color: #ffffff;
                    .Qsn{
                        min-height: 40px;
                        margin: 0;
                        border: none;
                        width: 100%;
                        font-weight: 400;
                        font-size: 15px;
                        letter-spacing: 1px;
                        color: #3B566E;
                        cursor: pointer;
                        box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
                        padding: 20px 30px;
                        background-color: #ffffff;
                        .heading{
                            transition: 0.5s; 
                            background-color: #fff;
                            &:hover{
                                padding-left: 35px;
                                transition: 0.5s;
                                background-color: #F7F6FF;
                            }
                        }
                        .Qbody{
                            display: none;
                            p{

                            }
                        }
                        .Qbody.act{
                            display: block;
                        }
                    }
                }
            }

        }
    }
}